{# src/CarsBundle/Resources/views/Cars/model_list.html.twig #}

{% extends "CarsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Liste marques
{% endblock %}
{% block cars_title %}
    {{ parent() }} - Liste marques
{% endblock %}
{% block cars_body %}
    <p>Liste des marques</p>
    <table class="tableAMR">
        <thead class="tableAMR">
            <tr class="tableAMR">
                <th class="tableAMR">Marque</th>
                <th class="tableAMR"></th>
                <th class="tableAMR"></th>
            </tr>
        </thead>
        <tbody class="tableAMR">
            {% for brand in brands %}
                <tr class="tableAMR">
                    <td class="tableAMR">{{ brand.libelle }}</td>
                    <td class="tableAMR"><a href="{{ path('brand_update', {'id': brand.id}) }} " class="button-hollow ultra-small bottom-margin1"><i class="fi-page-edit"></i> Modifier</a></td>
                    <td class="tableAMR"><a href="{{ path('brand_delete', {'id': brand.id}) }} " class="button-hollow alert ultra-small bottom-margin1"><i class="fi-trash"></i> Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="large-4 columns">
            <a href="{{ path('brand_add') }} " class="button">Ajouter</a>
            <a href="{{ path('specifications_index') }} " class="button secondary">Retour</a>
        </div>
    </div>

{% endblock %}