{# src/CarsBundle/Resources/views/Specifications/brand_add.html.twig #}

{% extends "CarsBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter une catégorie
{% endblock %}
{% block cars_title %}
    {{ parent() }} - Ajouter une catégorie
{% endblock %}
{% block cars_body %}
    <p>Ajouter une catégorie</p>
    <form action="{{ path('category_add') }}" method="POST" {{ form_enctype(form) }}>
        {% include "CarsBundle:Specifications:form.html.twig" %}
        <div class="row">
            <div class="large-4 columns">
                <input class="button" type="submit" value="Ajouter" />
                <a href="{{ path('category_list') }} " class="button secondary">Retour liste</a>
            </div>
        </div>
    </form>
{% endblock %}